/GasMixer/GasMixLogic/bin
/GasMixer/GasMixLogic/obj
/GasMixer/GasMixerTest/GasMixerTest/bin
/GasMixer/GasMixerTest/GasMixerTest/obj
/GasMixer/GasMixerTest/.vs
GasMixer/GasMixLogic/bin
GasMixer/GasMixLogic/obj
GasMixer/GasMixerTest/.vs
GasMixer/GasMixerTest/GasMixerTest/bin
GasMixer/GasMixerTest/GasMixerTest/obj
.DS_Store
